/* Estilo básico de la página */
html {                      /* Ajustar el tamaño de la fuente */
    height: 100%;
}

body {                     /* Ajustar el tamaño de la fuente */
    font-family: Arial, sans-serif; /* Ajustar el tipo de fuente */
    margin: 0;                      /* Eliminar el margen por defecto */
    padding: 0;                     /* Eliminar el padding por defecto */
    min-height: 100%;               /* Ajustar el alto mínimo */ 
    display: flex;                  /* Ajustar el display */
    flex-direction: column;         /* Ajustar la dirección del flex */ 
    background-color: #f0f0f0;    /* Ajustar el color de fondo */ 
}

header {                 /* Ajustar el tamaño de la fuente */
    background-color: #333;      /* Ajustar el color de fondo */
    color: white;                /* Ajustar el color de la fuente */
    padding: 10px 0;               /* Ajustar el padding */
    overflow: hidden;              /* Ajustar el overflow */
    display: grid;                 /* Ajustar el display */
    grid-template-columns: repeat(12, 1fr);        /* Ajustar el grid */
    align-items: center;                           /* Ajustar el alineamiento vertical */
}

#logo {                /* Ajustar el tamaño de la fuente */
    font-size: 20px;               /* Ajustar el tamaño de la fuente */
    grid-column: 1 / 2;            /* Ajustar el grid */
    margin-left: 20px;             /* Ajustar el margen izquierdo */
}

.nav-menu {           /* Ajustar el tamaño de la fuente */              
    display: flex;                       /* Ajustar el display */
    justify-content: space-around;       /* Ajustar el alineamiento horizontal */
    align-items: center;                 /* Ajustar el alineamiento vertical */
    grid-column: 2 / 13;                 /* Ajustar el grid */
}

/* Estilo del menú desplegable */
.dropdown {               
    margin-left: 10px;                  /* Ajustar el margen izquierdo */  
}

.dropdown.archivo {
    grid-column: 4 / 5;                /* Ajustar el grid de la seccion */
}

.dropdown.modelos {                   /* Ajustar el grid de la seccion */  
    grid-column: 5 / 6;
}

.dropdown.servicios {
    grid-column: 6 / 7;              /* Ajustar el grid de la seccion */
}

.dropdown.contacto {                 /* Ajustar el grid de la seccion */
    grid-column: 11 / 12;
}

.dropbtn {                /* Ajustar el estilo del boton */
    background-color: #333;       /* Ajustar el color de fondo */
    color: white;                 /* Ajustar el color de la fuente */
    padding: 16px;                  /* Ajustar el padding */
    font-size: 16px;                /* Ajustar el tamaño de la fuente */
    border: none;                   /* Ajustar el borde */
    cursor: pointer;                /* Ajustar el cursor */   
}

.dropdown-content {     /* Ajustar el estilo del contenido del menu */            
    display: none;                 /* Ajustar el display */  
    position: absolute;            /* Ajustar la posicion */ 
    min-width: 160px;              /* Ajustar el ancho minimo */ 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);         /* Ajustar la sombra */
    z-index: 1;                                                /* Ajustar el z-index */ 
    background-color: #f9f9f9;                               /* Ajustar el color de fondo */ 
}

.dropdown-content a {  /* Ajustar el estilo de los enlaces del menu */          
    color: black;               /* Ajustar el color de la fuente */
    padding: 12px 16px;           /* Ajustar el padding */
    text-decoration: none;        /* Ajustar la decoracion del texto */
    display: block;               /* Ajustar el display */
}

.dropdown:hover .dropdown-content {      /* Ajustar el estilo del contenido del menu al pasar el mouse */
    display: block;                      /* Ajustar el display */
}

.dropdown:hover .dropbtn {              /* Ajustar el estilo del boton al pasar el mouse */
    background-color: #555;           /* Ajustar el color de fondo */
}

/* Estilo de las secciones principales */
.content {
    display: grid;                              /* Ajustar el display */
    grid-template-columns: repeat(12, 1fr);     /* Ajustar el grid */
    height: calc(100vh - 60px);                 /* Ajustar altura del contenido principal */
}

aside {
    grid-column: span 2;                       /* Ajustar el grid */  
    border-right: 1px solid #ccc;           /* Ajustar el borde derecho */
    padding: 20px;                            /* Ajustar el padding */ 
    background-color: #999;                 /* Ajustar el color de fondo */ 
    height: 100%;                             /* Asegurar que el aside ocupe toda la altura disponible */
    overflow-y: auto;                         /* Añadir barra de desplazamiento si el contenido supera la altura */
}

main {
    grid-column: span 10;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}