// Variables
$main-color: #333;
$secondary-color: #555;
$background-color: #f9f9f9;
$black: black;
$white: white;

// Mixin for flex layout
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Basic reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Estilos generales
html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

header {
    background-color: $main-color;
    color: $white;
    padding: 10px 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    #logo {
        font-size: 20px;
        margin-left: 20px;
    }

    .nav-toogle {
        color: $white;
        background: none;
        border: none;
        padding: 0;
        display: none;
    }

    .nav-menu {
        @include flex-center;
        grid-column: 2/13;
        justify-content: space-around;
    }

    .dropdown {
        margin-left: 10px;

        &.archivo {
            grid-column: 4/5;
        }

        &.modelos {
            grid-column: 5/6;
        }

        &:hover {
            .dropdown-content {
                display: block;
                animation: fadeIn 0.5s;
            }

            .dropbtn {
                background-color: $secondary-color;
                transition: background-color 0.3s ease;
            }
        }

        .dropbtn {
            background-color: $main-color;
            color: $white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            background-color: $background-color;

            a {
                color: $black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
        }
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-grow: 1;
    background-color: $background-color;
}

aside {
    font-family: Arial, sans-serif;
    font-size: 18px;
    grid-column: span 2;
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #999;
    height: 100%;
    overflow-y: auto;

    h3 {
        &:nth-of-type(2) {
            margin-top: 35px; // Ajusta el valor según cuánto espacio desees
        }
    }

    ul {
        list-style-type: none;

        li a {
            text-decoration: none;
            color: $black;
            display: block;
            padding: 5px 0;

            &:hover {
                background-color: rgb(79, 77, 77);
                transition: background-color 0.3s ease;
            }
        }
    }
}

main {
    grid-column: span 10;
    padding: 20px;
    @include flex-center;
    text-align: center;
}

footer {
    background-color: $main-color;
    color: $white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* Estilos responsive */
@media (max-width: 768px) {
    header {
        .nav-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: 60px;
            left: 0;
            background-color: $main-color;

            &.open {
                display: flex;
            }

            .dropdown {
                margin: 0;
                display: block;

                &.open .dropdown-content {
                    display: block;
                }
            }
        }

        .nav-toogle {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            font-size: 1.8rem;
            margin-right: 20px;
        }
    }

    aside {
        display: none;
    }
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}